name: "Create New Repo"

on:
  workflow_dispatch:
    inputs:
      repository-name: 
        description: "Name of the new repository to be created" 
        required: true
        default: "my-new-repo-test" 
      repository_description: 
        description: "Name of the new repository to be created" 
        required: false
        default: "Creation of new test repo using api calls in GitHub"
 
jobs:
  repo_test:
   runs-on: ubuntu-latest
   name: "Check Repo Existence" 
   steps:
    - name: Run Check out
      uses: actions/checkout@v4
    - id: repo-check
      uses: ./.github/actions/repo-check
      with:
        pat-token: ${{ secrets.API_PAT_TOKEN }}
        repo-name: ${{ github.event.inputs.repository-name }}
        owner-name: ${{ github.repository_owner }}
  # Test job
  test:
    needs: repo_test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run tests
        run: |
          # Add your tests here
          echo "Running tests..."
          echo "Repo check output: ${{ env.REPO_CHECK_STATUS }}" 

    # - id: create_repo
    #   uses: ./.github/actions/create-repo
    #   with:
    #     pat-token: ${{ secrets.API_PAT_TOKEN }}
    #     repo-name: ${{ github.event.inputs.repository-name }}
    #     owner-name: ${{ github.repository_owner }}
    #     repo-description: ${{ github.event.inputs.repository_description }}
    #   if: steps.repo-check.outputs.repo_get_output == '{"response_status":"404"}' 